* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Mukta";
  src: url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap")
      format("woff2"),
    url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

.container {
  background-color: #faf8ed !important;
}
.header-section {
  background-color: #748e63 !important;
  color: #163020 !important;
  padding: 20px 0 !important;
  margin-bottom: 30px !important;
}
.header-section h1 {
  margin: 0 !important;
  font-size: 2.5rem !important;
}
.form-container {
  background-color: #b6c4b6 !important;
  padding: 20px !important;
  border-radius: 8px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}
.form-label {
  font-weight: bold !important;
  color: #304d30 !important;
}
.btn-primary {
  background-color: #748e63 !important;
  border-color: #99b080 !important;
}
.btn-secondary {
  margin-bottom: 15.5px !important;
}
.container {
  margin-top: 30.1px !important;
}
table {
  width: 100% !important ;
  border-collapse: collapse !important ;
}
th,
td {
  padding: 10px !important;
  text-align: left !important;
  border-bottom: 1px solid #ddd !important;
}
th {
  background-color: #163020 !important;
}
tr:hover {
  background-color: #e1f0da !important;
}
.btn-action {
  margin-right: 5px !important;
}

.card-product {
  width: 18.75rem;
  height: 12.75rem;
  max-width: 18.7rem;
  padding: 0.625rem;
  margin: 0.625rem;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px, 1px, 1px solid #ccc; /* Borda cinza clara */
  background-color: #EEF0E5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
