body {
  background-color: #faf8ed;
  
}
.header-section {
  background-color: #748e63;
  color: #163020;
  padding: 20px 0;
  margin-bottom: 30px;
}
.header-section h1 {
  margin: 0;
  font-size: 2.5rem;
}
.form-container {
  background-color: #b6c4b6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-label {
  font-weight: bold;
  color: #304d30;
}
.btn-primary {
  background-color: #748e63;
  border-color: #99b080;
}
.btn-secondary {
  margin-bottom: 15px;
}
.container {
  margin-top: 30px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #faf8ed;
}
tr:hover {
  background-color: #e1f0da;
}
.btn-action {
  margin-right: 5px;
}
